# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.sh text eol=lf

# Config files
.env* text eol=lf
.stackblitzrc text eol=lf
*.config.js text eol=lf
*.config.ts text eol=lf